<div id="tasks_index">
    <h1>Welcome Home!</h1>

    <%= content_tag "div", "Loading...", id: "container", data: { tasks: @tasks } %>

    <div id="task_list_div"></div>
</div>

<div id="photos">

</div>